@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(180deg, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
  }
}

@layer components {
  .glass {
    @apply bg-white/20 border border-white/30 rounded-3xl;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/50 rounded-full;
  }
}
